.container {
  width: 70%;
  height: 70%;
  background-color: rgba(88,24,69,0.5);
  position: absolute;
  top: 15%;
  left: 15%;
  border-radius: 10px;
  /* -webkit-animation: fadein 4s;
     -moz-animation: fadein 4s;
      -ms-animation: fadein 4s;
       -o-animation: fadein 4s;
          animation: fadein 4s; */
}

#nav-bar {
  width: 85%;
  margin: auto;
  margin-top: 20px;
}

.nav-item {
  width: 20%;
  display: inline-block;
  float: left;
  text-align: center;
  border-left: 2px solid #FF5733;
  border-top: 2px solid #FF5733;
  border-bottom: 2px solid #FF5733;

}

.nav-left-border {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.nav-right-border {
  border-right: 2px solid #FF5733;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.selected-nav-item {
  background-color: #FF5733;
}

.nav-text {
  vertical-align: middle;
  margin-bottom: 0px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
